<p id="notice"><%= notice %></p>

<p>
  <strong>Urn:</strong>
  <%= @patient.urn %>
</p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<%= link_to 'Events', patient_events_path(@patient) %>
<%= link_to 'New Event', new_patient_event_path(@patient) %>
<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
